
body{
    background-color: #0000;
    color: #ffff;
    font-family: monospace;
}

#terrain{
    border:1px solid white;
    width:800px;
    height:400px;
}

#balle{
    width:20px;
    height:20;
    background-color: white;
}