     /**fond de la page**/
body {
    background: black;
    color: rgb(0, 200, 255);
    font-family: Verdana;

    /**centrer les élement de la page**/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    /**créer un terrain**/
#terrain{
    position: relative;
    border: 1px solid white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 800px;
    height: 400px;
}
   /**créer une balle**/
#balle{
    position: absolute;
    top: 50%;
    left:50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius:100%;
}

  /*créer la raquette gauche*/
#raquetteA{
    position : relative;
    top:10%;
    left : 10%;
    width : 10px;
    height : 100px;
    background-color : white;
}
  /*créer la raquette droite*/
#raquetteB{
    position : relative;
    top:80%;
    left : 90%;
    width : 10px;
    height : 100px;
    background-color : white;
}


